body {
    font-family: Oxygen;
    background-color: #222;
    color: #fff;
    text-align: center;
    margin: 0;
}

@font-face {
    font-family: "Rust";
    src: local("Rust"), url(./assets/fonts/Rust.ttf) format("truetype");
}
@font-face {
    font-family: "Undeka";
    src: local("Undeka"), url(./assets/fonts/Undeka.otf) format("opentype");
}
